/* style.css */

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
  }
  
  /* Header Styles */
  
  header {
    background-color: #ffffff;
    color: #ffffff;
    padding: 1em;
    text-align: center;
  }
  
  header .inp {
    width: 50%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header .btn {
    width: 20%;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  header .btn:hover {
    background-color: #3e8e41;
  }
  
  /* Container Styles */
  
  .cont {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto auto auto;
  }

  @media only screen and (max-width: 600px) {

     .cont {
        display: grid;
        grid-template-columns: auto auto;
     } 
    
  }

  .auth-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.hidden {
    display: none;
}

